@{
  ViewData["Title"] = Model.Response.Info?.Count > 0
  ? $"Personajes de Rick and Morty (Total: {Model.Response.Info.Count}) - Page: {ViewData["CurrentPage"]}"
  : "Personajes de Rick and Morty";
}

@model CharacterListResponse


<div class="container mt-4">
  <h2>@ViewData["Title"]</h2>

  <htmlContent id="character-container">
    @await Html.PartialAsync("_CharacterListPartial", Model)
  </htmlContent @await Html.PartialAsync("_CharacterPagination", Model.Response.Info) </div>

@section Scripts {
    <script>
      function saveFavorite(characterId) {
        $.ajax({
          url: '@Url.Action("SaveFavoriteCharacter", "Home")',
          type: 'POST',
          data: { characterId: characterId },
          success: function () {
            const buttonIcon = $("#toggle-favorite-" + characterId).children("i")

            const buttonHasClass = buttonIcon.hasClass("far")

            if (buttonHasClass) {
              buttonIcon.removeClass('far')
              buttonIcon.addClass('fas text-warning');
            } else {
              buttonIcon.removeClass('fas text-warning')
              buttonIcon.addClass('far');
            }
          },
          error: function (error) {
            console.error('Error update favorite character', error);
          }
        });
      }
    </script>
}