@{
  ViewData["Title"] = Model.Response.Info?.Count > 0
  ? $"Personajes de Rick and Morty (Total: {Model.Response.Info.Count}) - Page: {ViewData["CurrentPage"]}"
  : "Personajes de Rick and Morty";
}

@model CharacterListResponse


<div class="container mt-4">
  <h2>@ViewData["Title"]</h2>

  <htmlContent id="character-container">
    @await Html.PartialAsync("_CharacterListPartial", Model)
  </htmlContent @await Html.PartialAsync("_CharacterPagination", Model.Response.Info) </div>

@section Scripts {
    <script src="~/js/UpdateFavoriteCharacter.js" asp-append-version="true" defer crossorigin="anonymous"></script>
}